## Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives: 
    - List of popular data science languages.
    - List of common data science libraries.
    - Some common open source Data Science tools.
    - A few examples to evaluate arithmetic expressions in python.

# Some of the popular languages that Data Scientists use are: 
    1. Python
    2. R programming
    3. Julia

# Some of the commonly used libraries used by Data Scientists include: 
    1. NumPy
    2. Panda
    3. Matplotlib
    4. TensorFlow
    5. Scikitlearn

# Table of Data Science tools
| Data Science Tools | 
| -------------|
| Anaconda | 
| Jupyter Lab | 
| Visual Studio code |

# Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#  This will convert 200 minutes to hours by diving by 60.
a = int(input("enter number of minutes"))
b = a/60
print("Equivalent hours: ", b)

enter number of minutes 200

Equivalent hours:  3.3333333333333335

# Author
Kaustubh Kamal Chaturvedi